# Backend Dependencies
backend/vendor/

# Environment Variables
*.env
backend/.env

# Uploads (Keep the directory, ignore content)
backend/public/uploads/*
!backend/public/uploads/.gitkeep

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
tmp/
